{% if mikrotik_users['user_list'][0] is defined %}


# Create new users
{% for user in mikrotik_users['user_list'] %}

{% if user.password is not defined %}
  {%- set new_password = lookup('password', mikrotik_users.credentials_dir + '/' + inventory_hostname + '__' + user.name + '__password.txt length=63' ) %}
{% else %}
  {%- set new_password = user.password %}
{% endif %}

# Create user {{ user.name }}
:if ([/user find name={{ user.name }} ] = "") do={
  /user add \
    name={{ user.name }} \
    disabled={{ user.disabled | bool | ternary('yes', 'no') }} \
    group={{ user.group }} \
    comment="Ansible managed: [{{ user.comment }}]" {% if user.address is defined %}\
    address="{{ user.address }}" {% endif %} \
    password="{{ new_password }}"
}
## It is not a good idea to make a lot of commands. I might think about some optimisation in future.
:if ([/user find name={{ user.name }}] != "") do={
# Set parameters for existing user {{ user.name }}
/user set {{ user.name }} password={{ new_password }} \
{% if user.comment is defined %} comment="Ansible managed: [{{ user.comment }}]"{% endif %}
{% if user.address is defined %} address={{ user.address }}{% endif %}
{% if user.group is defined %} group={{ user.group }}{% endif %}
{% if user.disabled is defined %} disabled={{ user.disabled | bool | ternary('yes', 'no') }}{% endif %}
}

# Delete public ssh keys
/user ssh-keys remove [/user ssh-keys find user={{ user.name }}]

  {% if user.pubkeys is defined %}
  # Import new ssh-keys
  {% for pubkey in user.pubkeys %}
  /user ssh-keys import user={{ user.name }} public-key-file={{user.name}}-{{ loop.index0 }}-pubkey.pub
  {% endfor %}
  {% endif %}

{% endfor %}


# Remove not defined
/user remove [ /user find where !( \
  {% for user in mikrotik_users['user_list'] %}
    {% if not loop.first %} or {% endif %} (comment~"Ansible managed:" and name={{ user.name }}) \
  {% endfor %}
)]

{% endif %}
